:root {
    font-size: 20px;

    --colorBackground: linear-gradient(to right, #213246, #2a475e);
    --colorBackground2:rgba(0, 0, 0, .1); 
    --colorHeader: #1b2838;
    --colorButton: rgba(255, 255, 255, .3);
    --colorButtonHover: rgba(255, 255, 255, .5);
    --colorButtonHover2: rgb(218, 98, 98);
    --colorChecked: #19af4b;
    --colorCheckedHover: #5dda86;
    --colorInput: rgba(255, 255, 255, .1);
    --colorInputFocus: rgba(255, 255, 255, .1);
    --colorMessage: rgb(253, 97, 97);
    --colorList: rgba(255, 255, 255, .1);
    --colorFont: #c7d5e0;

    --border: 2px solid rgba(255, 255, 255, .1);
    --borderRadius: 5px;

    --shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}
[data-theme="light"] {
    --colorBackground: linear-gradient(to left, #CDFCF6, #98A8F8);
    --colorBackground2: rgba(255, 255, 255, .2);
    --colorHeader: #BCCEF8;
    --colorButton: rgba(0, 0, 0, .2);
    --colorButtonHover: rgba(0, 0, 0, .5);
    --colorButtonHover2: rgb(255, 142, 142);
    --colorChecked: #43bd6c;
    --colorCheckedHover: #69c989;
    --colorInput: rgba(255, 255, 255, .3);
    --colorInputFocus: rgba(255, 255, 255, .35);
    --colorMessage: rgb(255, 85, 85);
    --colorList: rgba(255, 255, 255, .3);
    --colorFont: rgb(71, 71, 71);

    --border: 2px solid rgba(255, 255, 255, 0.2);
    --borderRadius: 5px;

    --shadow: 0 0 15px rgba(0, 0, 0, 0.4);
}


body {
    margin: 0;
    padding: 0;

    background: var(--colorBackground);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

* {
    font-family: sans-serif;
    color: var(--colorFont);
}

header  {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    box-shadow: var(--shadow);
    background-color: var(--colorHeader);
}

.start, .center, .end {
    flex: 1;
    display: flex;
    align-items: center;
}
.center {
    justify-content: center;
    text-align: center;
}
.end {
    justify-content: flex-end;
    text-align: right;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, .1);

}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25px;

    border: var(--border);
    border-style: solid none none;
    border-radius: var(--borderRadius);
    background-color: var(--colorInput);
}
form input {
    width: 500px;
    height: 100%;
}
form button {
    font-size: 1.5rem;
    width: 40px;
    height: 40px;
    background: 0;
}
form button i {
    font-size: 2rem;
}

.message {
    display: flex;
    align-items: flex-end;

    margin: 0;
    padding: 20px;
   
    color: var(--colorMessage);
}



input {
    font-size: 1.2rem;
    text-align: left;
    padding-left: 10px;
    border: none;
    border-radius: var(--borderRadius);
    background: none;
}
input:focus {
    outline: none;
    background-color: var(--colorInputFocus);
}
button {
    font-size: 2rem;
    margin: 8px;
    border: none;
    outline: 0;
    text-align: center;
    cursor: pointer;
    border-radius: var(--borderRadius);
    background-color: var(--colorBackground);
}

button:hover i {
    color: var(--colorButtonHover);
}
.button-delete:hover i {
    color: var(--colorButtonHover2);
}

.button-clear {
    width: 75px;
    height: 30px;

    margin: 0;
    font-size: .8rem;
    background-color: var(--colorButton);
}
.button-clear:hover {
    background-color: var(--colorButtonHover2);   
}

i {
    font-size: 1em;
    pointer-events: none;
    color: var(--colorButton);
}



.todo-list {
    width: 500px;
    height: 100%;

    font-size: 1.2rem;
    padding: 40px;
    margin-bottom: 20px;

    border: var(--border);
    border-style: none solid none;
    border-radius: var(--borderRadius);
    background-color: var(--colorBackground2);
}
.todo-list .start {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    border: var(--border);
    border-radius: var(--borderRadius);
    border-style: none none solid;
}

.tasks-completed {
    font-size: 1rem;
}

ul {
    list-style: none;
    padding-left: 0;
}
li {
    display: flex;
    align-items: center;
    
    padding-left: 10px;
    margin: 5px;
    border: var(--border);
    border-style: solid none none;
    border-radius: var(--borderRadius);
    background-color: var(--colorList);
}
li span {
    overflow: hidden;
}
.todo-item {
    flex: 1;
}
.completed {
    text-decoration: line-through var(--colorFont) solid 3px;
}
.completed .button-check i {
    color: var(--colorChecked);
}
.completed .button-check:hover i {
    color: var(--colorCheckedHover);
}


/*Switch Themes */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 30px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--colorButton);
    -webkit-transition: .3s;
    transition: .3s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--colorFont);
    -webkit-transition: .3s;
    transition: .3s;
}
input:checked + .slider {
    background-color: var(--colorChecked);
}
input:checked + .slider:before {
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}
.slider.round {
    border-radius: 30px;
}
.slider.round:before {
    border-radius: 50%;
}


